:root {
  // Primary
  --p-moderate-blue: hsl(238, 40%, 52%);
  --p-soft-red: hsl(358, 79%, 66%);
  --p-pight-grayish-blue: hsl(239, 57%, 85%);
  --p-pale-red: hsl(357, 100%, 86%);

  // Neutral
  --n-dark-blue: hsl(212, 24%, 26%);
  --n-grayish-blue: hsl(211, 10%, 45%);
  --n-light-gray: hsl(223, 19%, 93%);
  --n-very-light-gray: hsl(228, 33%, 97%);
  --n-white: hsl(0, 0%, 100%);

  --paragraph-size: 16px;

  --width-of-window: 750px;
  --width-of-replies: calc(var(--width-of-window) - 85px);
}